/* Half of this is from the create-react-app script */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* I added these two sections */
#messageDisplay {
  /* Aligns messsages to the left and sets the height to 90% (bc of the margin) */
  text-align: left;
  height: 90vh;
}

#messages {
  /* Allows the actual messages to be scrolled through */
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

#logout {
  position: absolute;
  top: 0.5%;
  right: 0.5%;
}

@media only screen and (orientation: portrait) {
  #messageDisplay {
      /* Set width to 100% and get rid of margin on mobile */
      margin: 0 0 0 0 !important;
      height: 100vh;
      width: 100vw;
  }
  #messages {
    height: 95%;
  }
}